
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
::selection{
    background-color: #07aab2;
    color: white;
}
body {
    background:#ffffff;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    background-color: transparent;
}
header #logo {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: #000000be;
    cursor: pointer;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 100px;
}
header nav ul li a  {
    display: inline-block;
    color: #a0aec0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    font-family:  'Poppins', sans-serif;
    margin: 0 20px;
    padding-bottom: 3px;
    border-bottom: 0.1px solid transparent;
    border: 3px solid transparent;
    transition: 0.3s;
}
header nav ul li a:hover, .a-color {   
    color: #000000 ;
}
.hamburger {
    cursor: pointer;
    display: none;
    border-radius: 10px;
}
#hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    border-radius: 15px;
    background: #000000;
}
.hamburger .line-one {
    width: 20px;
    height: 3px;
    margin: 5px 0;
    border-radius: 15px;
    background: #000000;
}
.hamburger .line-two {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 15px;
    background: #000000;
}
.HamburgerClose{
    width: 30px;
    height: 30px;
}
#HomePage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    flex-direction: row;
}
#HomePage div{
   display: block;
   justify-content: center;
   align-items: center;
   text-align: start;
   margin-left: 40px;
}
#HomePage div h1{
    color: black;
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
#HomePage div p {
    color: #999999;
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    font-weight: 400;
    margin-top: auto;
}
#HomePage div a{
    padding: 10px 50px 10px 50px;
    background-color: #01c0c0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;   
    border-radius: 5px;
    position: relative;
    top: 20px;
    transition: 0.2ms all linear;
}
#HomePage div a:hover{
    background-color: #01a3a3;
}
#HomePage img{
    width:50%;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 15px;

}
#OurProucts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#OurProucts h1{
    color: black;
    font-size: 40px;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
}
#Our_Product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Our_Product div{
    display: block;  
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 400px;
    height: fit-content;
    padding: 15px;
    background-color: transparent;
}
#Our_Product div h1{
    color: black;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top:auto;
    text-transform: uppercase;
    text-align: start;
}
#Our_Product div span{
    color: #1e1b1b;
    font-size: 17px;
    font-family:'Poppins', sans-serif ;
    font-weight: 400;
    margin-top: 15px;
}
#Our_Product a{
    width: 100%;
    height: 40px;
    color: white;
    background-color:#00bbbb ;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    font-size: 20px;
    font-weight:700;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 15px;
    cursor: pointer;
    transition: 0.5ms;
}
#Our_Product a:hover{
    background-color: #007676;
}
#Our_Product img{
    border-radius: 1px;
    width: 430px;
}
#ourFeatures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
}
#ourFeatures h1{
    color: black;
    font-size: 40px;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
}
#ourFeatures p{
    color:#999999;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 7px;
}
#Features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Features div{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
}
#Features div .sVGiCON{
    fill: #00747a;
}
#Features div .sVGiCONTwo{
    width: 50px;
    height: 50px;
    fill: #00747a;
}
#Features div h1{
    color: black;
    font-size: 27px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}
#Features div p{
    color: #999999;
    font-size: 18px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: 10px;
}
#Opinions{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
#Opinions h1{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 800;
    color: black;
}
#People_Opinions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    flex-direction: row;
    gap: 40px;
}
#People_Opinions div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 4px;
    transition: 0.3ms all linear;
    cursor: pointer;
}
#People_Opinions div:hover{
    background-color: rgba(219, 219, 219, 0.122);
}
#People_Opinions div h1{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}
#People_Opinions div p{
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}
#People_Opinions div .Star{
    display: flex;
   gap: 4px ;
   flex-direction: row;
   margin-top: 5px;
}
#People_Opinions div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#FOoter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-top: 250px;
      width: 100%;
      height:  fit-content;
      padding: 10px;
      padding:20px;
      background-color: #f2f2f2;
}
#FOoter h1{
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s all linear;
}
#Fotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    top : 220px;
    width: 100%;
}
#Fotter div{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
}
#Fotter h5{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000000;  
    margin-bottom: 100px;
    margin-left: 25px;
}
#Fotter h1{
    font-size: 21px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000000;  
}
#Fotter div a{
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s all linear;
}
#Fotter div a:hover{
    color: #000000;
}
#Fotter #Contact{
    margin-right: 50px;
    margin-bottom: 25px;
}
#product_Services{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
#product_Services h5{
    color: #000000;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-top: 10px;
}
#product_Services h1{
    color:#606060 ;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
#product_Services h6{
    color: #abb8c3;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}
#productDescritpion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#productDescritpion div{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-bottom:85px;
}
#productDescritpion img{
    width: 45%;
    border-radius: 4px;
    margin-bottom: 50px;
}
#productDescritpion h1{
    color: black;
    font-size: 59px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
    text-transform: uppercase;
}
#productDescritpion p{
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 7px;
    text-transform: uppercase;
}
#productDescritpion span{
    color: black;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 7px
}
#productDescritpion a {
    padding: 10px 200px 10px 200px;
   background-color:  #00bbbb;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-family:'Poppins', sans-serif ;
   font-weight: 600;
   position: relative;
   top: 50px;
   text-transform: uppercase;
   cursor: pointer;
   transition: 0.3ms;
}
#productDescritpion a:hover{
    background-color: #007878;
}
#image_DESCription img{
    width: 70%;
    border-radius: 2px;
}
#image_DESCription{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Contact_Section {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Contact_Section h1{
    color: #000000ee;
    font-size: 50px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
}
#Contact_Section p{
    color: #989797;
    font-size: 18px;
    font-family:'Poppins', sans-serif ;
    font-weight: inherit;
    margin-top: 15px;
}
#Form_Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width:  fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
}
#Form_Contact  form{
    display: flex;
    flex-direction: column;
}
#Form_Contact form input{
    background-color: transparent;
    border: 0.1px solid #cdcdcd;
    margin: auto;
    margin-top: 40px;
    width: 640px;
    height: 35px;
    outline: none;
    border-radius:4px;
    caret-color: gray;
    padding-left: 8px;
    font-size: 17px;
    font-weight: inherit;
    font-family: 'Poppins', sans-serif;
}
#Form_Contact form input:focus{
   border: 0.1px solid #006767;
}
#Form_Contact form textarea:focus{
   border: 0.1px solid #006767;
}
#Form_Contact form textarea{
    width: 100%;
    height: 120px;
    outline: none;
    border: none;
    border: 0.1px solid #cdcdcd;
    margin-top: 40px;
    background-color: transparent;
    padding-left: 8px;
    border-radius: 4px;
}
#Form_Contact form input::placeholder{
    position: relative;
    left: 4px;
}
#Form_Contact form span{
    margin: auto;
    margin-top: 40px;
    width: 640px;
    height: 35px;
    background-color: #01a3a3;
    font-size: 20px;
    font-weight: 400;
    font-family:'Poppins', sans-serif ;
    text-align: center;
    border-radius: 4px;
    transition: 1s;
    cursor: pointer;

    color: white;
}
#Form_Contact form span:hover{
    background-color:  #007878;
}
#Loaction{
    display: block;
    justify-content:center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
 .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
}
 .contact h1{
    color: #000000ee;
    font-size: 59px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
 .contact h5{
    color: #747474;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
 .contact a{
    font-size: 18px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: #01a3a3;
    margin-top: 20px;
    transition: 2ms;
}
 .contact a:hover{
    background-color: #007878;
}
#Loaction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#location{
    width: 700px;
    height: 450px;
    border-radius: 4px;
    filter: brightness(59%);
    transition: 1s;
}
#location:hover{
    filter: brightness(100%);
}
#error_Section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#error_Section img{
    width: 50%;
}
#error_Title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#error_Title h1{
    font-size: 30px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
    margin-top: 10px;
    color: #000000;
}
#About_Section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
    background-color: white;
}
#About_Section .Team {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-left: 15px;
}
#About_Section .Team  h1{
    color: #000000;
    font-size: 70px;
    font-weight: 800;
    font-family:'Poppins', sans-serif ;
    margin: auto;
}
#About_Section .Team p{
    color: #989797;
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: auto;
    margin: auto;
    position: relative;
    bottom: 35px;
}
#About_Section .Team div{
    display: flex;
    text-align: start;
    gap: 15px   ;

}
#About_Section .Team div .Contact{
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    background-color: #01c0c0;
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    transition: 0.9ms all linear;
}
#About_Section .Team div .Contact:hover{
    background-color: #007878;
}
#About_Section .Team div .Learn_More{
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    background-color:  #007979;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}
#About_Section img{
    width: 50%;
    border-radius: 4px;
    margin-right: 30px;
}
#Dearer_history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
}
#Dearer_history h1{
    color: #000000;
    font-size: 50px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
}
#Dearer_history p{
    color: #606060;
    font-size: 18px;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: 7px;
}
#Dearer_history .dearer_Work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
#Dearer_history .dearer_Work h1{
    margin-right: 250px;
}
#Dearer_history .dearer_Work div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
    margin: auto;
    margin-right: 82px;
}
#Dearer_history .dearer_Work img{
    width: 599px;
    height: 400px;
    margin-right: 15px;
    border-radius: 2px;
}
#Our_Team {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
}
#Our_Team h1{
    color: #000000;
    font-size: 50px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
}
#Our_Team p{
    color: #606060;
    font-size: 18px;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    margin-top: 7px;
}
#Comapany_Team{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Comapany_Team div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#Comapany_Team div img{
    width:60px ;
    height: 60px;
    border-radius: 50%;
}
#Comapany_Team div h1{
    color: black;
    font-size: 30px;
    font-family:'Poppins', sans-serif ;
    font-weight: 700;
    margin-top: 7px;
}
#Comapany_Team div p{
    color: #606060;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 7px;
}
#Blog_Section{
    display: block;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Blog_Section div{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
   
    margin-bottom: 110px;
}
#Blog_Section .BuutOn{
 display: flex;
 justify-content: center;
  align-items: center;
  text-align: center;
   margin-top: 17px;
   gap: 20px    ;  
}
#Blog_Section h1{
    color:#000000ee ;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
#Blog_Section  p{
    color: #606060;
    font-size: 19px;
    font-family:'Poppins', sans-serif ;
    font-weight: 400;
    margin-top: 14px;
}
#Blog_Section .BuutOn .LEarn{
    color: rgb(255, 255, 255);
    padding: 15px 70px ;
    border-radius: 50px;
    background-color: #00696f;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
    top: 15px;
    transition:0.2s;
}
#Blog_Section .BuutOn .LEarn:hover{
    background-color: #013436;
}
#ImagaDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
#ImagaDescription img{
    width: 50%;
    border-radius: 5px;
    
}
#dearer_Fag {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 185px;
}
#dearer_Fag h1{
    color: #000000;
    font-size: 45px;
    font-family:'Poppins', sans-serif ;
    font-weight: 800;
}
#dearer_Fag span{
    color: #606060;
    font-size: 17px;
    font-family:'Poppins', sans-serif ;
    font-weight: 700;
    position: relative;
    top: 42px;
}
#Blog {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;

}
#Blog h1{
    color: #000000;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: start;
}
#Blog p{
    color: #606060;
    font-size:19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    text-align: start;
}
#Sent_MEssage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
#Sent_MEssage h1{
    color: #000000;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
     padding-top: 70px;
    border-top: 0.1px solid #c1bfbf;
}
#Your_MEssage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    gap: 5px;
}
#Your_MEssage input{
    width: 40%;
    border: 0.1px #cbcfd2 solid;
    outline: none;
    padding-left: 15px;
    height: 50px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    caret-color: #576167 ;
}
#Your_MEssage input::placeholder{
    position: relative;
    left: 1px;
    font-family:'Poppins', sans-serif ;
}
#Your_MEssage button{
    height: 50px;
    background-color: #00bbbb;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    width: 10%;
    transition: 0.2s;
}
#Your_MEssage button:hover{
    background-color:#007878 ;
}
@media only screen and (max-width:1200px) {
    .hamburger {
        display: block;
         margin-left: 7px;
    }
    .hamburger div {
        background: #000000;
       
    }
    #hamburger {
        display: flex;
    }
    #Close{
        display: flex;
        justify-content: end;
        align-items: end;
        text-align: end;
        position: relative;
        bottom: 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0px;
        height: 100%;
        width: 100%;
        background:white;
        padding: 30px;
        transition: 0.3s;
        z-index: 1;
    }
    header nav ul {
        display: block;
        justify-content: start;
        background-color: transparent;
    }
    header nav ul li{
        justify-content: start;
    }
    header nav ul li a {
        margin: 5px 0;
        color:#a0aec0;
        transition: 0.2s all linear;
    }
    header nav ul li a:hover{
        color: #000000;
    }
  #HomePage{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 50px;
  }
  #HomePage div{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  #HomePage img{
    width: 100%;
    margin: auto;
    border-radius: 0;
    margin-top: 40px;
  }
  #HomePage div h1{
    font-size: 33px;
  }
  #Features {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 
  #Features div {
    margin-top: 50px;
  }
  #People_Opinions {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: auto;
  } 
  #People_Opinions div {
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
     margin-top: 50px;
  }
    #Our_Product{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
    #Our_Product div{
display: block;
justify-content: center;
align-items: center;
text-align: start;
margin: auto;
margin-top: 55px;
    }
    #Our_Product div img{
        width: 80%;
        margin: auto;
    }
    #Our_Product a{
        width: 80%;
        margin: auto;
    }
    #Our_Product div  h1{
        margin: auto;
        margin-left: 30px;
    }
    #Our_Product div span{
        margin: auto;
        margin-left: 35px;
    }
    #productDescritpion{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #productDescritpion img{
        width: 75%;
        margin: auto;
    }
    #productDescritpion div{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: start;
        margin-left: 15px;
    }
    #productDescritpion a{
       padding: 10px 150px 10px 150px;
       margin-bottom: 20px;
       margin: auto;
    }
    #Fotter{
        display: block;
    }
    #Fotter div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    #Fotter h5{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-right: 25px;
    }
    #Fotter #Contact{
        margin-left: 50px;
    }
    #FOoter {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #FOoter h1{
        margin-top: 10px;
    }
    #Contact_SEction{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    #Contact_SEction .FORM_contact{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 870px;
    }
    #Our_Team{
        display: block;
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 15px;
    }
    #Our_Team img{
        width: 70%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #About_Section{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #About_Section img{
        width: 100%;
        margin-top: 20px;
    }
    #Dearer_history  .dearer_Work{
        display: block;
        justify-content:center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin: auto;
    }
    #Dearer_history  .dearer_Work h1{
       margin: auto;
       margin-right: 70px;
    }
    #Dearer_history p{
        margin-top: 10px;
        margin: auto;
    }
    #Dearer_history img{
        width: 100%;
        margin-top: 10px;
    }
    #Comapany_Team{
        display: block;
        justify-content: center;
        align-items: center;
        text-transform: center  ;
        margin: auto;
    }
    #Comapany_Team div{
        margin: 40px;
    }
    #Your_Email input{
        width: 70%;
    }
    #Your_Email #Send{
        width: 18%;
    }
    #Your_MEssage input{
        width: 70%;
    }
    #Your_MEssage button{
        width: 18%;
    }
    #Form_Contact form{
        margin: auto;
    }
    #Form_Contact form{
        width: 410px;
    }
    #Form_Contact form input{
        width:  240px;
        display: block;
        justify-content: start;
        align-items: start;
        text-align: start;
    }
    #Form_Contact form textarea{
        width:  240px;
        display: block;
        justify-content: start;
        align-items: start;
        text-align: start;
        margin: auto;
        margin-top: 40px;
    }
    #Form_Contact form span{
        width: 240px;
    }
    #Loaction{
        display:block;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    #location{
        width: 90%;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin: auto;
    }
    #ImagaDescription img{
        width: 70%
    }
}
@media only screen and (min-width:2400px){
    header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35px;
        background-color: transparent;
    }
    header #logo {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        color: #32597dc4;
        cursor: pointer;
    }
    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
       
        border-radius: 100px;
    }
    header nav ul li a  {
        display: inline-block;
        color: #32597dc4;
        padding: 5px 0;
        font-size: 18px;
        font-weight: 500;
        font-family:  'Poppins', sans-serif;
        margin: 0 20px;
        padding-bottom: 3px;
        border-bottom: 0.1px solid transparent;
        border: 3px solid transparent;
        transition: 0.3s;
    }
    header nav ul li a:hover, .a-color {   
        color: #f2a341 ;
    }
    .hamburger {
        cursor: pointer;
        display: none;
        border-radius: 10px;
    }
    #hamburger{
        display: none;
        cursor: pointer;
    }
    .hamburger div {
        width: 30px;
        height: 3px;
        margin: 5px 0;
        border-radius: 15px;
        background: #00696f;
    }
    .hamburger .line-one {
        width: 20px;
        height: 3px;
        margin: 5px 0;
        border-radius: 15px;
        background: #00696f;
    }
    .hamburger .line-two {
        width: 25px;
        height: 3px;
        margin: 5px 0;
        border-radius: 15px;
        background: #00696f;
    }
    .HamburgerClose{
        width: 30px;
        height: 30px;
    }
    #HomePage img{
        width: 750px;
        height: 850px;
        margin: auto;
        border-radius: 0;
        margin-top: 40px;
      }
     
}